<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FORMULARIO</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1 th:text="${titulo}"></h1>

        <form class="formulario" th:action="@{${link}}" method="POST" th:object="${jogos}">
            
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />

            <label for="plataforma">Plataforma:</label>
            <input type="text" id="plataforma" th:field="*{plataforma}" />

            <div>
                <label>Zerado:</label>
                <div class="radio-group">
                    <input type="radio" id="zeradoSim" th:field="*{zerado}" value="true" />
                    <label for="zeradoSim">Sim</label>
                    
                    <input type="radio" id="zeradoNao" th:field="*{zerado}" value="false" />
                    <label for="zeradoNao">Não</label>
                </div>
            </div>

            <input type="submit" th:value="${valor}" class="botao"/>
        </form>

        <a th:href="@{/}" class="botao link-voltar">Voltar para a Página Inicial</a>
    </div>
</body>
</html>