<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PRIMEIRA PAGINA</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>SISTEMA DE JOGOS</h1>
        <ul class="menu">
            <li>
                <a th:href="@{/formulario}" class="botao">
                    CADASTRO
                </a>
            </li>
            <li>
                <a th:href="@{/listar}" class="botao">
                    LISTAR
                </a>
            </li>
        </ul>
    </div>
</body>
</html>