<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FORMULARIO</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <form th:action="@{${link}}" method="POST" th:object="${jogos}">
        Nome: <input type="text" th:field="*{nome}" ><br>
        plataforma: <input type="text" th:field="*{plataforma}" ><br>

        Zerado:<br>
        <input type="radio" th:field="*{zerado}" value="true" /> Sim<br>
        <input type="radio" th:field="*{zerado}" value="false" /> Não<br>

        <input type="submit" th:value="${valor}"/>
    </form>
    <br>
    <a th:href="@{/}">Voltar para a Página Inicial</a></body>
</html>