<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LISTAGEM DE JOGOS</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>PLATAFORMA</th>
                <th>ZEROU?</th>
                <th></th>
            </tr>
        </thead>
        <tbody th:each="jog : ${jogos}">
            <tr>
                <td th:text="${jog.id}"></td>
                <td th:text="${jog.nome}"></td>
                <td th:text="${jog.plataforma}"></td>
                <td th:text="${jog.zerado ? 'Sim' : 'Não'}"></td>
                <td><a th:href="${'/editar/' + jog.id}">Editar</a></td>
                
                <td>
                    <form th:action="${'/deletar/' + jog.id}" method="post">
                        <input type="submit" value="Deletar">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
        <br>
    <a th:href="@{/}">Voltar para a Página Inicial</a></body>
</html>